@model QuanLyBanSach.Models.hoadon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>hoadon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayMua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayMua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.damua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.damua)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHoaDon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
