@model IEnumerable<QuanLyBanSach.Models.hoadon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayMua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.damua)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.hoten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayMua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.damua)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHoaDon }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHoaDon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHoaDon })
        </td>
    </tr>
}

</table>
